:root {
    --color-1: #79ffd95e;
    --color-2: #62f5cb5e;
    --color-3: #59e7bf5e;

    --color-fig: #fbe6ce;
    --color-border: rgba(0, 0, 0, 0.3);

    --font-1: 'Tajawal', sans-serif;
    --font-2: 'Montserrat', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

html {    
    font-size: 20px;
}

body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/groovepaper.png);
    background-attachment: fixed;
}

main {
    min-width: 40ch;
}

header, figure, section {
    margin-bottom: 0.2rem;
}

header > h1 {
    margin-top: 1ch;
}

header > h2 {
    padding-bottom: 1ch;
}

section {
    padding: 1rem 3ch;
}

figure {
    border: 2px solid var(--color-border);
    background-color: var(--color-fig);
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 50ch;
    object-fit: cover;
    object-position: 0% 25%;
}

h1, h2, h3 {    
    font-family: var(--font-1);
    line-height: 85%;
    width: 90%;
    margin: auto;
    text-align: center;
}

p, ul {
    font-family: var(--font-2);
    font-size: 1rem;
    line-height: 150%;
    text-indent: 20px;
    text-align: justify;
    margin: 1ch 0;
}

figcaption {
    font-family: var(--font-1);
    font-size: 0.7rem;
    line-height: 85%;
    text-align: center;
    padding: 1ch 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: lighter;
}

h3 {
    margin: 2ch auto;
    font-size: 1rem;
    font-weight: lighter;
    color: var(--color-border);
}

.bg-light {
    background-color: var(--color-1);
}

.bg-neutral {
    background-color: var(--color-2);
}

.bg-dark {
    background-color: var(--color-3);
}

hr {
    opacity: 0.6;
}

@media (min-width: 550px) { 
    main {
        margin: 0px;
    }

    img {
        max-height: 350px;
    }
}

@media (min-width: 850px) { 
    main {
        margin: 1rem 15% 1rem 15%;
    }

    img {
        max-height: 350px;
    }
}

@media (min-width: 1150px) { 
    main {
        margin: 2rem 25% 2rem 25%;
    }

    img {
        max-height: 350px;
    }
}

.border-top {
    border-top: 2px solid var(--color-border);
}