/* -------------------- */
/* Table of contents    */
/* -------------------- */
/* 1. Properties        */
/* 2. Layout            */
/* 3. Components        */
/* 4. Typography        */
/* 5. Utility           */
/* 6. Media queries     */
/* -------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tajawal');

/* ------------ */
/* 1.PROPERTIES */
/* ------------ */

:root {
    --color-lighter: hsla(165, 100%, 75%, 0.369);
    --color-neutral: hsla(165, 90%, 67%, 0.369);
    --color-darker: hsla(165, 80%, 60%, 0.369);

    --color-figure: #fbe6ce;
    --color-border: rgba(0, 0, 0, 0.3);

    --font-title: 'Tajawal', sans-serif;
    --font-paragraph: 'Montserrat', sans-serif;
}


/* -------- */
/* 2.LAYOUT */
/* -------- */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/groovepaper.png);
    background-attachment: fixed;
}

.wrapper {
    min-width: 320px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}


/* ------------ */
/* 3.COMPONENTS */
/* ------------ */

header {
    display: grid;
    place-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

figure {
    display: flex;
    flex-direction: column;

    border: 2px solid var(--color-border);
}

.figureCaption {
    padding: 1ch 0;
}

.figureImage {
    max-width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

section + section {
    border-top: .1rem solid var(--color-border);
}

section,
footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* ------------ */
/* 4.TYPOGRAPHY */
/* ------------ */

html {    
    font-size: 20px;
}

.headerSubtitle,
h1, h2, h3,
.figureCaption,
footer p {
    text-align: center;
}

section p {
    text-align: justify;
}

h1, h2, h3,
.figureCaption {    
    font-family: var(--font-title);
    line-height: 85%;
}

p, ul {
    font-family: var(--font-paragraph);
    text-indent: 1rem;
}

section p,
ul {    
    line-height: 150%;
}

ul {
    list-style: none;
}

.headerTitle {
    font-size: 3rem;
}

.headerSubtitle,
h3 {
    font-size: 2rem;
}

.figureCaption {
    font-size: 1.25rem;
}


/* --------- */
/* 5.UTILITY */
/* --------- */

.visually-hidden {
    display: none;
}

.bg-lighter {
    background-color: var(--color-lighter);
}

.bg-neutral {
    background-color: var(--color-neutral);
}

.bg-darker {
    background-color: var(--color-darker);
}


/* --------------- */
/* 6.MEDIA QUERIES */
/* --------------- */

@media (min-width: 1024px) { 

    .wrapper {
        max-width: 800px;
    }
}